<table border="1">
   <tr>
      <th colspan="2">Student Info</th>
   </tr>
   <tr>
      <th>Name</th>
      <td>{{ student.name }}</td>
   </tr>
   <tr>
      <th>Email</th>
      <td>{{ student.email }}</td>
   </tr>
   <tr>
      <th>Birthday</th>
      <td>{{ student.birthday }}</td>
   </tr>
   <tr>
      <th>Gender</th>
      <td>{{ student.gender }}</td>
   </tr>
   <tr>
      <th>Department</th>
      <td>{{ student.department }}</td>
   </tr>
   <tr>
      <th>Image</th>
      <td>
         <img src="{{ student.image }}" width="100" height="100">
      </td>
   </tr>
</table>