year: {{ year }}
graduate: {{ graduate }}


<h1>University : {{ university }}</h1>
<h2>City: {{ city }}</h2>
<h3>District: {{ district }}</h3>
<h4>Street: {{ duong }}</h4>

<img src="{{ image }}" alt="">